.App {
  text-align: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.Blank-2 {
  width: 2%;
  height: 10px;
}

.ฺBlank-10 {
  width: 100%;
  height: 10px;
}

.Blank-50 {
  width: 100%;
  height: 50px;
}

.Blank-100 {
  width: 100%;
  height: 100px;
}